<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv Shows</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-between align-items-center py-2 px-5">
        <h1 class="text-center">Welcome, {{user.first_name}}</h1>
        <div>
            <a href="/tvshows/new" class="btn btn-info">Create Tv Show</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <div class="container">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Relase Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tvshow in tvshows %}
                <tr>
                    <td>{{tvshow.title}}</td>
                    <td>{{tvshow.network}}</td>
                    <td>{{tvshow.release_date}}</td>  
                    <td>
                        <a href="/tvshows/{{tvshow.id}}/view" class="btn btn-primary">View</a>
                        {% if tvshow.owner.id == session['id'] %}
                        <a href="/tvshows/{{tvshow.id}}/edit" class="btn btn-secondary">Edit</a>
                        <a href="/tvshows/{{tvshow.id}}/delete" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </td>          
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>